{{!--
    @template optsModelGroup.handlebars
    - 엔카보증, 헛걸음 보상 검색 옵션 리스트: 모델
--}}
{{#if ModelGroup0}}
    {{#each Model.Facets}}
        {{#if isView}}
            <li><a data-action="{{Action}}" data-code="{{Metadata.Code}}" {{#if IsSelected}}class="on"{{/if}}>{{DisplayValue}}</a></li>
        {{/if}}
    {{/each}}
{{else}}
    <li class="none">모델을 선택하면<br /> 리스트가 열립니다.</li>
{{/if}}
